django == 4.2.5
psycopg2 == 2.9.9
pillow == 10.3.0
djangorestframework == 3.15.1
django-allauth == 0.52.0
dj-rest-auth == 4.0.0
djangorestframework-simplejwt == 5.3.1
django-environ
django-polymorphic
django-rest-polymorphic
drf_spectacular
drf-spectacular[sidecar]
redis==5.0.1
celery==5.3.6
django-redis==5.4.0
django-cloudinary-storage==0.3.0
cloudinary==1.37.0
django-cors-headers==4.3.1
channels[daphne]