django == 4.2.5
psycopg2 == 2.9.9
pillow == 10.3.0
djangorestframework == 3.15.1
django-allauth == 0.52.0
dj-rest-auth == 4.0.0
djangorestframework-simplejwt == 5.3.1
django-environ
django-polymorphic
drf_spectacular
drf-spectacular[sidecar]